<div id="page_user_new">
  <div class="page_canvas">
    <div class="form">
      <h2>ユーザー情報入力</h2>
      <%= form_for(@user, url: '/accounts/signup', method: :post) do |f| %>
        <%= errors_for(@user, "Opps, unable to signup") %>
        <span class="input required"><%= f.text_field :name, class: "must", placeholder: "user name" %></span>
        <span class="input required"><%= f.text_field :email, class: "must", placeholder: "email" %></span>
        <span class="input required"><%= f.password_field :password, class: "must", placeholder: "password" %></span>
        <span class="input required"><%= f.password_field :password_confirmation, class: "must", placeholder: "retype password" %></span>
        <span class="input"><%= f.file_field :profile_image %></span>
        <span class="input submit"><%= f.submit %></span>
      <% end %>
    </div>
  </div>
</div>
