<div id="page_user_show">
  <h2 class="title">User Profile</h2>
  <div class="profile">
    <div class="image">
      <%= image_tag(@user.profile_image_url, width: 250, height: 250) %>
    </div>
    <div class="detail">
      <dl>
        <div>
          <dt>Name</dt>
          <dd><%= @user.name %></dd>
        </div>
        <div>
          <dt>Email</dt>
          <dd><%= @user.email %></dd>
        </div>
      </dl>
    </div>
  </div>
  <div class="latest-post">
    <ul>
      <%- @user.posts.each do |p| -%>
        <li>
          <h3 class="title"><%= p.title %></h3>
          <div class="body"><%= p.body %></div>
        </li> 
      <%- end -%>
    </ul>
  </div>
</div>
