<div id="post_index">
  <div class="form">
    <%= form_for(:post) do |p| %>
      <span class="input required"><%= p.text_field :title, { placeholder: "title" } %></span>
      <span class="input required"><%= p.text_area :body, { placeholder: "body" } %></span>
      <span class="input"><%= p.file_field :image %></span>
      <span class="input"><%= p.text_field :tags_str %></span>
      <%= p.submit %>
    <% end %>
  </div>

  <div class="post_set">
    <% @posts.each do |p| %>
    <div class='post'>
      <h2 class="title"><%= link_to p.title, p %></h2>
      <div class="main">
        <p class="image"><%= image_tag "/uploaded/#{p.id.to_s}.png" %></p>
        <p class="body"><%= p.body %></p>
      </div>
      <div class="meta">
        <span class="user_name">DummyToQoz</span>
      </div>
      <div class="menu">
        <% if @stock.deletable_by?(p.id, current_user) %>
        <li><%= link_to "Stock Delete", post_stock_path(:post_id => p.id, :id => @stock.stocked_id_by?(p.id, current_user.id)), :method => :delete %></li>
        <% else %>
        <li><%= link_to "Stock", post_stocks_path(:post_id => p.id), :method => :post %></li>
        <% end %>
        <% if p.editable_by?(p.user_id, current_user) %>
        <li><%= link_to "Delete", post_path(:id => p.id), :method => :delete %></li>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>

  <div id="account_ctrl_panel">
  </div>
</div>
