<h2><%= @post.title %></h2>
<p><%= @post.body %></p>
<p><%= image_tag "/uploaded/#{@post.id.to_s}.png" %></p>

<%= form_for [@post, @comment] do |c| %>
  <%= errors_for(@comment, "Opps,  unable to signup").html_safe %>
  <div id="body_text_area"><%= c.text_area :body %></div>
  <%= c.submit %>
<% end %>

<div id="all_comment">
<% @post.comments.each do |c| %>
  <div class='commnet'>
    <p><%= c.body %></p>
  </div>
</div>
<% end %>
