<div id="post_show">
  <div class="post">
    <h2 class="title"><%= @post.title %></h2>
    <div class="main">
      <p class="image"><%= image_tag "/uploaded/#{@post.id.to_s}.png" %></p>
      <p class="body"><%= @post.body %></p>
    </div>
  </div>

  <div class="comment_wrapper">
    <h2>Comments</h2>
    <div class="form">
      <%= form_for [ @post, @comment ] do |c| %>
        <%= errors_for(@comment, "Opps, unable to comment create").html_safe %>
        <span class="input"><%= c.text_area :body %></span>
        <%= c.submit %>
      <% end %>
    </div>
    <div class="comment_set">
      <% @post.comments.each do |c| %>
      <div class='commnet'>
        <p><%= c.body %></p>
      </div>
      <% end %>
    </div>
  </div>
</div>
