<div id="post_show">
  <div class="post">
    <h2 class="title"><%= @post.title %></h2>
    <div class="main">
      <p class="image"><%= image_tag "/uploaded/#{@post.id.to_s}.png" %></p>
      <p class="body"><%= @post.body %></p>
    </div>
  </div>

  <div class="comment_wrapper">
    <h2>Comments</h2>
    <div class="form">
      <%= form_for [ @post, @comment ] do |c| %>
        <%= errors_for(@comment, "Opps, unable to comment create").html_safe %>
        <span class="input"><%= c.text_area :body %></span>
        <%= c.submit %>
      <% end %>
    </div>
    <div class="comment_set">
      <% @post.comments.each do |comment| %>
      <div class='comment'>
        <div class="main">
          <p class="body"><%= comment.body %></p>
        </div>
        <div class="meta">
          <span class="user_name"><%= link_to comment.created_name(comment.user_id), user_path(comment.user.name) %></span>
        </div>
        <div class="menu">
          <ul>
            <% if comment.editable_by?(comment.user_id, current_user) %>
            <li><%= link_to "Delete", comment_path(:id => comment.id), :confirm => "Do you really want to delete this comment?", :method => :delete %></li>
            <% end %>
            <li><%= link_to "good", comment_evaluations_path(:comment_id => comment.id, :kind => 1), :method => :post %></li>
            <li><%= link_to "bad", comment_evaluations_path(:comment_id => comment.id, :kind => 2), :method => :post %></li>
          </ul>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
